h1 {
    text-align: center;
    font-size: 36px;
    color: #fff;
    margin: 18px auto;
}

md-expansion-panel {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

md-expansion-panel-header {
    font-size: 18px;
}

md-spinner {
    margin: 20px auto;
}