<h1>Teams</h1>
<!-- <h2>The quick brown fox jumps over the lazy dog.</h2>
<p>Derk derk derk...</p>
<i class="material-icons">face</i>

<button md-raised-button>Click me!</button>
<button md-raised-button color="primary">Click me!</button>
<button md-raised-button color="accent">Click me!</button>
<button md-raised-button color="warn">Click me!</button> -->

<md-spinner color="accent" *ngIf="fetchingTeams"></md-spinner>

<md-accordion *ngIf="!fetchingTeams">
  <md-expansion-panel *ngFor="let team of teams">
    <md-expansion-panel-header>
      {{team.name}}
    </md-expansion-panel-header>

    <app-team [team]="team"></app-team>

  </md-expansion-panel>
</md-accordion>
